.cars-container {
    width: 80vw;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
}

.card-container {
    width: 20rem;
    height: 15rem;
}

.card {
    width: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease-in-out;
}

.card:hover {
    /* background: #00299b; */
    transform: scale(1.025);
}

.card__image {
    width: 100%;
    height: 15rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__image img {
    width: 20rem;
    height: 15rem;
}

.card__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__footer h3 {
    color: #444;
    padding: 1rem;
    background: transparent !important;
}

.btn--back:hover {
    transform: scale(1.1);
}