* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  padding: 3rem;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background: #573b8a;
}

.btn:hover {
  background: #6d44b8;
}

.authors-cars {
  position: absolute;
  z-index: 100;
  bottom: -2rem;
}

@media (max-width: 430px) {
  /* RESPONSIVE */
}